In [4]:
valor1 = input('Digite um número inteiro: ')
valor2 = input('Digite outro número inteiro: ')

In [3]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
True
False
True
False

In [9]:
L = []

In [8]:
L = list() #construtor de listas

In [7]:
dias = [3, 1, 10]
dias[0]

3

In [10]:
dias[1]

1

In [11]:
dias[2]

10

In [12]:
z = [3,8,9]

In [13]:
z[0] = 7

In [14]:
z
[7,8,9]

[7, 8, 9]

In [16]:
a = [81, 82, 86]

In [17]:
b = a [:] #cria um clone com fatia

In [18]:
print(a==b)

True

In [19]:
print(a is b)

False

In [20]:
b[0] = 5

In [21]:
print(a)

[81, 82, 86]

In [22]:
print(b)

[5, 82, 86]

In [23]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [29]:
print(uma_lista[1:3])

['b', 'c']

In [25]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [26]:
print(uma_lista[3:])

['d', 'e', 'f']

In [27]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
Lista = [76, 92.3, "oi", True, 4, 76]

In [35]:
Lista[4] = "pitomba"

In [40]:
Lista[5] = 76

In [36]:
Lista[3] = "Cibele"

In [37]:
Lista[0] = "99"

In [38]:
print(Lista[2:3])

['oi']

In [43]:
print(Lista)

['99', 92.3, 'oi', 'Cibele', 'pitomba', 76]

In [46]:
uma_lista = [4, 2, 8, 6, 5]

In [47]:
uma_lista = uma_lista + ["Cibele"]

In [48]:
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

In [49]:
tupla_numeros=(10,20,30)

In [50]:
tupla_numeros

(10, 20, 30)

In [51]:
tupla_nova=10,20,30

In [52]:
tupla_nova

(10, 20, 30)

In [53]:
tupla_elemento=10,

In [54]:
tupla_elemento

(10,)

In [55]:
tupla_vazia=()

In [56]:
tupla_vazia

()

In [57]:
dicio={'chave':'valor'}

In [58]:
print(type(dicio))

<class 'dict'>

In [59]:
d={'laranjas':15, 'bananas':35, 'siriguelas':12}

In [60]:
d['bananas']

35

In [61]:
d['pitomba']=20

In [62]:
len(d)

4

In [63]:
'pitomba' in d

True

In [64]:
'pears' in d

False

In [65]:
del d['laranjas']

In [66]:
'laranjas' in d

False

In [67]:
frutas= ["pinha", "oti coró", "jaca", "tamarindo"]

In [68]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [69]:
print(frutas + [6,7,8,9])

['pinha', 'oti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [70]:
print([0]*4)

[0, 0, 0, 0]

In [71]:
print([1,2, ["oi", "tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]